<div class="container">
  <div class="row">
    <section class="col-md-8 col-md-offset-2">
      <h1>Welcome to Glassdoor Search</h1>
      <form action="/" method="get">
          My ZIP Code is... <input type="text" name="zipCode" placeholder="eg... '20004'" maxlength="5"><br>
          <input type="submit" value="Search!">
      </form>
    </section>
  </div>
</div>