<div class="container">
  <div class="row">
    <section class="col-md-8 col-md-offset-2">
      <h2>Search Companies on Glassdoor:</h2>
      <form action="/" method="get">
          Zip Code: <input type="text" name="zipCode" placeholder="eg... '20004'" maxlength="5"><br>
          Minimum Number of Ratings: <input type="text" name="minRatings" placeholder="Default: 100" maxlength="7"><br>
          Minimum Review Score: <input type="text" name="minReviews" placeholder="Default: 4" maxlength="3"><br>
          <input type="submit" value="Search!">
      </form>
    </section>
  </div>
</div>