* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.618em;
}

body {
  background: linear-gradient(45deg, #aee5d8 1%,#f0fff2 100%) fixed;
  /*height: 100vh;*/
}

html {
  background: transparent;
}

h1 {
  text-align: center;
  border-bottom: solid 4px black;
}

img.employer-img {
  float: left;
  max-height: 100px;
  margin-right: 1em;
}

ul.employer-list {
  list-style: none;
}

li.each-employer {
  clear: left;
  border-bottom: solid 2px #555;
}

li.each-employer h2 {
  font-size: 1.5em;
  font-weight: 700;
}

li.each-employer h3 {
  font-size: 1.2em;
}

section.new-search {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: white;
  padding-bottom: 1em;
  border: solid 2px #444;
}
