* {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  line-height: 1.618em;
}

body {
  background: linear-gradient(45deg, #aee5d8 1%,#f0fff2 100%);
  height: 100vh;
}

html {
  background: transparent;
}

img.employer-img {
  float: left;
  max-height: 100px;
  margin-right: 1em;
}

ul.employer-list {
  list-style: none;
}

li.each-employer {
  clear: left;
  border-bottom: solid 2px #555;
}